<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AirCourts - <%= date %>
    </title>
</head>

<body>
    <form method="get">
        <label for="weekDate">Date:</label>
        <input type="date" id="date" name="date" value="<%= htmlWeekDate %>"><br><br>
        <input type="submit" value="Submit">
    </form>
    <%- include('sections/day-availability', {moment: moment, slots, date}); %>
</body>

</html>