<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AirCourts - <%= date %>
    </title>
</head>

<body>
    <%- include('sections/day-availability', {moment: moment, slots, date}); %>
</body>

</html>