<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ElCourts - <%= date %></title>
</head>

<body>
    <p>Updated at <%= (new Date()).toISOString() %></p>
    <%- include('sections/day-availability', {moment: moment, slots, date}); %>
</body>

</html>